{% extends 'main/base.html'%}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

      
	    <form method="POST">
	        {% csrf_token %}
	        <fieldset class="form-group">
	            <legend class="border-bottom display">
	                <h3 class="float-left">Login</h3>
	            </legend>

	            {{ form|crispy }}
	        </fieldset>
	        <br>
	        <div class="form-grounp">
	            <button class="btn btn-outline-success" type="submit">Save</button>
	        </div>

	    </form>
       <br>
   </div>
</div>
   

{% endblock %}